/ {
  wait-ms-20 {
    compatible = "zmk,behavior-wait-ms";
    #binding-cells = <0>;
    wait-ms = <20>;
  };

  umlaut_a {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_8
      &macro_release &kp LALT
    >;
  };

  umlaut_o {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_4 &wait-ms-20
        &kp KP_6
      &macro_release &kp LALT
    >;
  };

  umlaut_u {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_5 &wait-ms-20
        &kp KP_2
      &macro_release &kp LALT
    >;
  };

  umlaut_ss {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_3
      &macro_release &kp LALT
    >;
  };

  umlaut_a_cap {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_1 &wait-ms-20
        &kp KP_9 &wait-ms-20
        &kp KP_6
      &macro_release &kp LALT
    >;
  };

  umlaut_o_cap {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_1 &wait-ms-20
        &kp KP_4
      &macro_release &kp LALT
    >;
  };

  umlaut_u_cap {
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    bindings = <
      &macro_press &kp LALT
      &macro_tap
        &kp KP_0 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_2 &wait-ms-20
        &kp KP_0
      &macro_release &kp LALT
    >;
  };
};
